<h2>Create discussion</h2>

<%= form_tag "/discussions" do %>

  <p>
    <%= label_tag "title" %>
    <%= text_field_tag "title", @discussion.title, autofocus: true %>
  </p>

  <p>
    <%= label_tag "content" %>
    <%= text_field_tag "content" %>
  </p>



  <p>
      <%= submit_tag "Post your discussion!", class: 'button' %>

      or

      <%= link_to "Back to homepage", "/discussions" %>
  </p>

<% end %>